html, body {
    overflow: hidden;
}

#site {
    width: 100%;
}

#section-wrapper {
    position: relative;
    width: 100%;
}

div.section {
    width: 100%;
    position: relative;
}

#section-1 {
    background: #ccc;
}

#section-2 {
    background: #666;
}

#section-3 {
    background: #000;
}
