*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.container div{
    background-size: cover;
    height: 100vh;
}
.p01{
    background-image: url(p01.jpg);
}
.p02{
    background-image: url(p02.jpg);
}
.p03{
    background-image: url(p03.jpg);
}
